/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h1
  font-family: 'Orbit', sans-serif
  background-color #f4ebd3
  border-bottom 5px solid #ead394
  border-top-right-radius: 15px
  border-top-left-radius: 15px
  margin-top: 40px !important
  padding: 5px 15px !important